 /* This file houses all the link effects, just add their class ID to the link code*/


 /* Left to Right Highlight Effect */
a.left2right:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

/* Nav Link Effect Start */
a.nav:link {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
 }
 a.nav:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;;
 }
 /* Nav Link Effect End */


/* Start of Mouse over Swap Link Effect */
/* add this to link: class="swap" id="style-2" data-replace="404 Error" */
a.swap:link {
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  a.swap:before,
  a.swap:after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  a.swap:before {
    background-color: #54b3d6;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  a.swap:after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #54b3d6;
  }
  
  a.swap:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  a.swap:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  a.swap span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  a.swap:hover span {
    transform: translate3d(-200%, 0, 0);
  }
  
  a.swap {
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    vertical-align: top;
  }
  /* End of Hover Link Effect */