---
import logo from '../images/gif_logo_3.gif'
import '../styles/link_styles.css'
---

<footer class="footer">
    <div class="container">
      <div>
        <img src={logo} alt="" />
        <p>
          This website was created using <a href="https://astro.build">Astro</a>.
        </p>
      </div>
      <div>
        <ul>
          <li><a href="/difusion/">Home</a></li>
          <li><a href="/difusion/about">About</a></li>
          <li><a href="/difusion/blog">Blog</a></li>
        </ul>
      </div>
    </div>
  </footer>

<style>

  /* START */
a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;;
}
/* END */

  .footer {
    background: var(--color-primary);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    }

    .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .footer a {
    color: #a741ff;
    }

    .footer a:hover {
    text-decoration: underline;
    }

    .footer h3 {
    margin-bottom: 10px;
    }

    .footer div:nth-child(1) {
    text-align: left;
    }

    @media (max-width: 500px) {
    .footer div:nth-child(2) {
        display: none;
    }
    }
  </style>